@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Tangerine:wght@400;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #f2c94c;
  --secondary: #56ccf2;
  --border: #e5e7eb;
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --background: #0a0a0a;
    --foreground: #ededed;
    --border: #262626;
    color-scheme: dark;
  }
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --border: #262626;
  color-scheme: dark;
}

.light {
  --background: #ffffff;
  --foreground: #171717;
  --border: #e5e7eb;
  color-scheme: light;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-border: var(--border);
}

body {
  background: var(--background);
  color: var(--foreground);
}
