@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #f2c94c;
  --secondary: #56ccf2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

body {
  background: #ffffff;
  color: #171717;
}
